Repository iamskok/use-font-face-observer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update dependency eslint-plugin-jest to v24.3.7
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.34 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d6e8a242e2d41763302cb9a7a7a2ae4ed23b0e8
Due: none

chore(deps): update dependency ts-jest to v27.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.32.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.35 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ac1f01c985e7fc4d1a958d91a0edd3b9992f8ed
Due: none

chore(release): 1.1.36 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bcc929ed1c7fb40bb5910f3cf4c098d9872bb8a5
Due: none

chore(deps): update dependency @types/react to v17.0.17
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update styfle/cancel-workflow-action action to v0.9.1
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.37 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8e729200c37dd29af22887495bff91cf53a13700
Due: none

chore(deps): update dependency eslint-plugin-prettier to v3.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-airbnb-typescript to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update semantic-release monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.38 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ee98dabe888996db46a08db1c821efef38da189
Due: none

chore(deps): update dependency prettier to v2.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: prettier --write

Switching Readme for `font` to `family` to match the implementation.
  README.md
Due: prettier --write

Adding a @typedef to help describe the object and the inputs
  src/index.ts
Due: eslint --fix

Updating readme to match implementation (#85)
  README.md
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.1.39 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ba8e103f0026f398daca8d5340f96fe3dd7b0349
Due: none

chore(deps): update dependency @testing-library/react-hooks to v7.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.40 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7088bf26fac6de42703fadb26eeba5a3f117b5bf
Due: none

chore(deps): update dependency eslint-config-airbnb-typescript to v14
  package.json
  yarn.lock
Due: prettier --write

fix: add type guard for jest test case
  package.json
  src/__tests__/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: add type guard for jest test case (#87)
  package.json
  src/__tests__/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.1.41 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5463a802bd34d46744480d5030e17c018672f179
Due: none

chore(deps): update commitlint monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24.6.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.42 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{md,json,yaml,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
