Repository iamskok/use-font-face-observer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{md,json,yaml,yml}": ["prettier --write"],
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

chore(deps): update dependency microbundle to v0.14.2
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.71 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  45/7d0b10a576fcead27a885b529eeab1490db523
Due: none

chore(release): 1.1.72 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  71/96c42409d33b666652ebd725f51e33a841f145
Due: none

chore(deps): update dependency eslint-plugin-react to v7.27.1
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.73 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a/c8ae1b0b2ab9f28c0de5c2fc2857bf66a01f84
Due: none

chore(deps): update dependency eslint-plugin-jsx-a11y to v6.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to v17.0.36
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.74 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b/c303af98fb5ecb9a3bcd21e070de97337f932f
Due: none

chore(deps): update node.js to v16.13.1
  .nvmrc
Due: none

chore(deps): update dependency typescript to v4.5.4
  package.json
  yarn.lock
Due: prettier --write

fix: ci versioning
  .github/workflows/ci.yml
Due: prettier --write

fix: ci
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.1.75 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6d/64b56530d4dd4758f901c26092106addb1fd67
Due: none

chore(release): 1.1.76 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  07/1da1d4b6384ec611c07ab082d0ac886344bd94
Due: none

chore(release): 1.1.77 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dc/ae030a6a49937bd469e56132a57c24c2a7c9a7
Due: none

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  yarn.lock
Due: prettier --write

feat: export interfaces
  src/index.ts
Due: eslint --fix

feat: export interfaces (#120)
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.2.0 🎉 [skip ci]
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  81/93ad6421aa8a4fcf71e744a644a7e7fd7615bb
Due: none

chore(deps): update dependency eslint-config-airbnb-typescript to v16
  package.json
  yarn.lock
Due: prettier --write

fix: add modern esm bundle
  package.json
Due: prettier --write

fix: add modern esm bundle (#122)
  package.json
Due: prettier --write

chore(release): 1.2.1 🎉 [skip ci]
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  d8/0dbfdbafe428849f17c878c6bddbdbf11c25f9
Due: none

chore(deps): pin dependency microbundle to 0.14.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to v27.1.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write

feat: add explicit error in log
  src/index.ts
Due: eslint --fix

chore(deps): move `react` to `devDependencies`
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update `fontfaceobserver` to v2.3.0
  package.json
  yarn.lock
Due: prettier --write
