Repository iamskok/use-font-face-observer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: fix `testString` example typo
  README.md
Due: prettier --write

chore(deps): move `react` to `devDependencies` (#158)
  package.json
Due: prettier --write

chore(release): 1.2.2 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f/60422247586e2505d46d50106f53696c343b7b
Due: none

Specify types path in package.json#exports
  package.json
Due: prettier --write

Move types to be first condition
  package.json
Due: prettier --write

Specify types path in package.json#exports (#170)
  package.json
Due: prettier --write

docs: fix `testString` example typo (#156)
  README.md
Due: prettier --write

feat: add explicit error in log (#157)
  src/index.ts
Due: eslint --fix

chore(release): 1.3.0 🎉 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d/719233143926fcf6f9726b783ef4cee0297e9e
Due: none

Delete package-lock.json
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{md,json,yaml,yml}
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
